.card__like-button_is-active {
	background: transparent url('../../../../images/like-active.svg') no-repeat;
}
.card__likes-counter {
	margin: 3px 7px 0px 7px;
	font-size: 13px;
}
.card__like-container {
	display: flex;
	flex-direction: column;
}
